<div class="ads ad-300 margin-bottom-60  fadeIn" style="visibility: visible; animation-name: fadeIn;">
	<h3 class="heading-1" style="margin-top:60px;">
		<span>Advertsment</span>
	</h3>
    <img src="public/images/Add/300x250.jpg" class="img-responsive" alt="">
</div>