<div class="side-widget margin-bottom-60  fadeIn animated" style="visibility: visible;">
                            <h3 class="heading-1"><span>baş xəbərlər</span></h3>
                            <div class="layout_1--item margin-bottom-30  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_world/post36.html">
                              <span class="badge text-uppercase badge-overlay badge-world">Dünya</span>
                              <div class="overlay  fadeIn animated" style="visibility: visible;"></div>
                              <img src="public/images/world/36.jpeg" class="img-responsive" alt="">
                              <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                 <h6>İndoneziyanın Sumatra adasındakı Sinaburq vulkanı püskürüb.</h6>
                                 <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span></div>
                              </div>
                           </a>
                            </div>
                            <div class="layout_1--item margin-bottom-30  fadeIn animated" style="visibility: visible;">
                                <a href="tech.html">
                              <span class="badge text-uppercase badge-overlay badge-tech">Yazarlar</span>
                              <div class="overlay  fadeIn animated" style="visibility: visible;"></div>
                              <img src="public/images/tech/team-1.jpg" class="img-responsive" alt="">
                              <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                 <h6></h6>
                              </div>
                           </a>
                            </div>
                            <div class="layout_1--item  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_magasin/post3.html">
                              <span class="badge text-uppercase badge-overlay badge-entertainment">Entertainment</span>
                              <div class="overlay  fadeIn animated" style="visibility: visible;"></div>
                              <img src="public/images/magasin/03.jpg" class="img-responsive" alt="">
                              <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                 <h6>Tanınmış aktyor xəstəxanalıq oldu</h6>
                                 <div class="meta  fadeIn animated" style="visibility: visible;">
                                     <span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span>
                                    </div>
                              </div>
                           </a>
                            </div>
</div>