<div class="side-widget margin-bottom-60  fadeIn animated" style="visibility: visible;">
                            <h3 class="heading-1" style="margin-top:90px;"><span>Categories</span></h3>
                            <ul class="categories">
                                <li><a href="economy.html">İqtisadiyyat</a> <span>33</span></li>
                                <li><a href="magasin.html">Şou</a> <span>43</span></li>
                                <li><a href="food_healthy.html">Sağlamlıq</a> <span>29</span></li>
                                <li><a href="criminal.html">Kriminal</a> <span>51</span></li>
                                <li><a href="sport.html">İdman</a> <span>34</span></li>
                                <li><a href="world.html">Dünya</a> <span>36</span></li>
                                <li><a href="social.html">Sosial</a> <span>65</span></li>
                            </ul>
                            <div class="clearfix  fadeIn animated" style="visibility: visible;"></div>
</div>