<div class="side-widget margin-bottom-50  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <h3 class="heading-1"><span>Ən çox baxılanlar</span></h3>
                            <ul class="side-posts">
                                <li><span>25.08</span> <a href="Pages/page_econmy/post11.html">Neft Fondu bu il “Azəri-Çıraq-Günəşli”dən 3,6 milyard dollar qazanıb</a></li>
                                <li><span>23.08</span> <a href="Pages/page_social/post11.html">Naxçıvanın daxili işlər naziri təyin olundu</a></li>
                                <li><span>22.08</span> <a href="Pages/page_magasin/post11.html">Xalq artisti ingilis əri ilə istirahətdə</a></li>
                                <li><span>21.08</span> <a href="Pages/page_healthy/post11.html">Arıqlamağa kömək edən, ürəyi qoruyan, xərçəngi müalicə edən ƏDVİYYAT</a></li>
                                <li><span>20.08</span> <a href="Pages/page_criminal/post11.html">Neftçala sakini traktorun altında qalaraq öldü</a></li>
                                <li><span>19.08</span> <a href="Pages/page_sport/post11.html">Fransa millisinin üzvü "Yuventus"da</a></li>
                                <li><span>18.08</span> <a href="Pages/page_world/post11.html">Amerikalı aktyor vəfat etdi</a></li>
                                <li><span>25.08</span> <a href="Pages/page_econmy/post21.html">Sosial sahələrə nə qədər pul xərclənib?</a></li>
                                <li><span>23.08</span> <a href="Pages/page_social/post21.html">Cəlilabad rayon sakini Hafis Quluyev ötən gün rayondakı dükanlardan birindən 10 kq-lıq un alıb</a></li>
                                <li><span>22.08</span> <a href="Pages/page_magasin/post21.html">İlqar Mikayıloğlunu su ilanı "sancıb"mış</a></li>
                                <li><span>22.08</span> <a href="Pages/page_healthy/post21.html">Hər gün ilıq su için - Nəticəsi inanılmazdır</a></li>
                                <li><span>17.08</span> <a href="Pages/page_criminal/post21.html">Şəmkirdə sevgilisinə görə döyülən gənc oğlan kor oldu</a></li>
                                <li><span>16.08</span> <a href="Pages/page_sport/post21.html">Qadın boksçularımız 3 medal qazandı</a></li>
                                <li><span>15.08</span> <a href="Pages/page_world/post21.html">Londonda hava limanında partlayış</a></li>
                            </ul>
</div>