                    <!--====================LAYOUT-ASIDE_7-======================-->
                    <div class="side-widget margin-bottom-30  fadeIn animated" style="visibility: visible;">
                        <h3 class="heading-1"><span>Sağlamlıq</span></h3>
                        <ul class="trending-text">
                            <li>
                                <em>1</em>
                                <p><a href="Pages/page_healthy/post14.html">Qara cirə min dərdin dərmanıdır - Bunları mütləq bilməlisiniz...</a> <span>Sep 26, 2016</span></p>
                            </li>
                            <li>
                                <em>2</em>
                                <p><a href="Pages/page_healthy/post15.html">Kalori yandırmaq bu qədər asan və rahat</a> <span>Sep 26, 2016</span></p>
                            </li>
                            <li>
                                <em>3</em>
                                <p><a href="Pages/page_healthy/post16.html">Sağlam və gözəl olmaq istəyənlər YEMİŞ YESİN</a> <span>Sep 26, 2016</span></p>
                            </li>
                            <li>
                                <em>2</em>
                                <p><a href="Pages/page_healthy/post17.html">MENİNGİT. Səbəblər, simptomlar, müalicə</a> <span>Sep 26, 2016</span></p>
                            </li>
                            <li>
                                <em>5</em>
                                <p><a href="Pages/page_healthy/post18.html">Diabet və qan təzyiqinə qənim kəsilən MÖCÜZƏVİ İÇKİ</a> <span>Sep 26, 2016</span></p>
                            </li>
                        </ul>
                    </div>
                    