<div class="side-widget margin-bottom-60">
                            <h3 class="heading-1"><span>Sosial şəbəkə</span></h3>
                            <div class="social">
                                <div class="share s_facebook">
                                    <i class="fa fa-facebook"></i>
                                </div>
                                <div class="share s_linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                                <div class="share s_plus">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                            </div>
                            <div class="clearfix"></div>
</div>