<div class="side-widget margin-bottom-30  fadeIn animated" style="visibility: visible;">
                            <h3 class="heading-1" style="margin-top:90px;"><span>Valyuta</span></h3>
                            <div class="trending-box  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <div class="row  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <div class="col-md-12  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="layout_2--item margin-bottom-22px  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                            <div class="number  fadeIn" style="visibility: visible; animation-name: fadeIn;">USD</div>
                                            <h4 class="margin-top-10">Alış: 1.7008</h4>
                                            <h4 class="margin-top-10">Satış: 1.7020</h4>
                                        </div>
                                        <hr class="l4 margin-top-30 margin-bottom-20">
                                    </div>
                                    <div class="col-md-12  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="layout_2--item margin-bottom-22px  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                            <div class="number  fadeIn" style="visibility: visible; animation-name: fadeIn;">EUR</div>
                                            <h4 class="margin-top-10">Alış: 1.7008</h4>
                                            <h4 class="margin-top-10">Satış: 1.7020</h4>
                                        </div>
                                        <hr class="l4 margin-top-30 margin-bottom-20">
                                    </div>
                                    <div class="col-md-12  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="layout_2--item margin-bottom-22px  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                            <div class="number  fadeIn" style="visibility: visible; animation-name: fadeIn;">RUB</div>
                                            <h4 class="margin-top-10">Alış: 1.7008</h4>
                                            <h4 class="margin-top-10">Satış: 1.7020</h4>
                                        </div>
                                        <hr class="l4 margin-top-30 margin-bottom-20">
                                    </div>
                                    <div class="col-md-12  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="layout_2--item margin-bottom-22px  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                            <div class="number  fadeIn" style="visibility: visible; animation-name: fadeIn;">TRY</div>
                                            <h4 class="margin-top-10">Alış: 1.7008</h4>
                                            <h4 class="margin-top-10">Satış: 1.7020</h4>
                                        </div>
                                        <hr class="l4 margin-top-30 margin-bottom-20">
                                    </div>
                                    <div class="col-md-12  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                        <div class="layout_2--item margin-bottom-22px  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                            <div class="number  fadeIn" style="visibility: visible; animation-name: fadeIn;">GBP</div>
                                            <h4 class="margin-top-10">Alış: 1.7008</h4>
                                            <h4 class="margin-top-10">Satış: 1.7020</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>