<h3 class="heading-1"><span>Dünya</span></h3>
                        <div class="layout_3  fadeIn animated" style="visibility: visible;">
                            <div class="row margin-bottom-30  fadeIn animated" style="visibility: visible;">
                                <div class="col-md-8 col-sm-8 margin-bottom-30  fadeIn animated" style="visibility: visible;">
                                    <div class="layout_3--item  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <a href="Pages/page_world/post8.html"><img src="images/world/8.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">Dünya</span>
                                        <h2><a href="Pages/page_world/post8.html">Putin ABŞ-dakı qalmaqallı səfiri geri çağırdı</a></h2>
                                        <p>Rusiya prezidenti Vladimir Putinin sərəncamı ilə Anatoli Antonov bu ölkənin ABŞ-a yeni səfiri təyin olunub...</p>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4  fadeIn animated" style="visibility: visible;">
                                    <div class="layout_2--item margin-bottom-25  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb margin-bottom-10  fadeIn animated" style="visibility: visible;">
                                            <div class="icon-24 gallery2  fadeIn animated" style="visibility: visible;"></div>
                                            <a href="Pages/page_world/post24.html"><img src="images/world/24.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">Dünya</span>
                                        <h4><a href="Pages/page_world/post24.html">Hansı ölkədə nə qədər nüvə silahı var?</a></h4>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span>
                                        </div>
                                    </div>
                                    <div class="layout_2--item margin-bottom-25  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb margin-bottom-10  fadeIn animated" style="visibility: visible;">
                                            <div class="icon-24 gallery2  fadeIn animated" style="visibility: visible;"></div>
                                            <a href="Pages/page_world/post23.html"><img src="images/world/23.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">Dünya</span>
                                        <h4><a href="Pages/page_world/post23.html">Nyu-Yorkda Tramp əleyhinə aksiya keçirilir</a></h4>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>