<div class="layout_3  fadeIn animated" style="visibility: visible;">
                            <div class="row  fadeIn animated" style="visibility: visible;">
                                <div class="col-md-6 col-sm-6 margin-bottom-30  fadeIn animated" style="visibility: visible;">
                                    <h3 class="heading-1"><span>İdman</span></h3>
                                    <div class=" margin-bottom-30 layout_3--item  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <a href="Pages/page_sport/post22.html"><img src="images/sport/25.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <h4 class="margin-top-10"><a href="Pages/page_sport/post22.html">Gəncə stadionunda son vəziyyət</a></h4>
                                        <p>Gəncə şəhər stadionunun əsas meydançasına yeni salınan ot örtüyünə qulluq və texniki
                                            baxış davam edir. Apasport.az saytının məlumatına görə...
                                        </p>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                                    </div>
                                    <div class=" margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <div class="icon-24 video2  fadeIn animated" style="visibility: visible;"></div>
                                                <a href="Pages/page_sport/post27.html"><img src="images/sport/30.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Idman</span>
                                            <h4><a href="Pages/page_sport/post27.html">Qurban Qurbanov: “Vaxtımız azdı”</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <div class="icon-24 video2  fadeIn animated" style="visibility: visible;"></div>
                                                <a href="Pages/page_sport/post26.html"><img src="images/sport/26.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Idman</span>
                                            <h4><a href="Pages/page_sport/post26.html">Rusiyanın dünya çempionatının ev sahibliyindən məhrum olunur?</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <div class="icon-24 video2  fadeIn animated" style="visibility: visible;"></div>
                                                <a href="Pages/page_sport/post31.html"><img src="images/sport/34.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Idman</span>
                                            <h4><a href="Pages/page_sport/post31.html">Boksçumuz dünya çempionatına qələbə ilə başladı</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <div class="icon-24 video2  fadeIn animated" style="visibility: visible;"></div>
                                                <a href="Pages/page_sport/post18.html"><img src="images/sport/19.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Idman</span>
                                            <h4><a href="Pages/page_sport/post18.html">“Neftçi” “Herta”-ya uduzdu</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <div class="icon-24 video2  fadeIn animated" style="visibility: visible;"></div>
                                                <a href="Pages/page_sport/post30.html"><img src="images/sport/33.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Idman</span>
                                            <h4><a href="Pages/page_sport/post30.html">"Barselona" fransız futbolçuya 105 milyonluq avro verdi</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30  fadeIn animated" style="visibility: visible;"></div>
                                </div>
                                <div class="col-md-6 col-sm-6 margin-bottom-30  fadeIn animated" style="visibility: visible;">
                                    <h3 class="heading-1"><span>Kriminal</span></h3>
                                    <div class="layout_3--item fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <a href="Pages/page_criminal/post3.html"><img src="images/criminal/3.jpeg" class="img-responsive" alt=""></a>
                                        </div>
                                        <h4 class="margin-top-10"><a href="Pages/page_criminal/post3.html">Xadimə işlədiyi evdən oğurluq edib</a></h4>
                                        <p>Binəqədi RPİ 7-ci PB əməkdaşlarının keçirdikləri əməliyyat-axtarış tədbirləri nəticəsində
                                            avqustun 27-də rayonun...
                                        </p>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span>
                                        </div>
                                    </div>
                                    <div class=" margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <a href="Pages/page_criminal/post14.html"><img src="images/criminal/14.jpg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Kriminal</span>
                                            <h4><a href="Pages/page_criminal/post143.html">Nefti ailə üzvlərinin üzərinə tökdü</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class=" margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <a href="Pages/page_criminal/post44.html"><img src="images/criminal/44.jpeg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Kriminal</span>
                                            <h4><a href="Pages/page_criminal/post44.html">2 qadın yük maşınının altında qalıb</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <a href="Pages/page_criminal/post45.html"><img src="images/criminal/45.jpeg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Kriminal</span>
                                            <h4><a href="Pages/page_criminal/post45.html">23 yaşlı gənci “tok” vurdu, öldü</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <a href="Pages/page_criminal/post38.html"><img src="images/criminal/38.jpeg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Kriminal</span>
                                            <h4><a href="Pages/page_criminal/post38.html">Qəbiristanlıqdan güldan oğurladılary</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 layout_2--item row  fadeIn animated" style="visibility: visible;">
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                                <a href="Pages/page_criminal/post39.html"><img src="images/criminal/39.jpeg" class="img-responsive" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                                            <span class="cat">Kriminal</span>
                                            <h4><a href="Pages/page_criminal/post39.html">Meşədə itən qız tapıldı</a></h4>
                                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-30 margin-bottom-30  fadeIn animated" style="visibility: visible;"></div>
                                </div>
                            </div>
                        </div>