
                    <h3 class="heading-1"><span>Maraqlı</span></h3>
                    <!--====================LAYOUT-LIST-======================-->
                    <div class="layout_3--item row  fadeIn animated" style="visibility: visible;">
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="badge text-uppercase badge-overlay badge-entertainment">Şou</span>
                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_magasin/post15.html"><img src="public/images/magasin/15.jpeg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <h4><a href="Pages/page_magasin/post15.html">Justin bu evə ayda 200 min verir</a></h4>
                            <p>New Zealand open the 2016 Rugby Championship by humiliating Australia 42-8 in the Bledisloe Cup</p>
                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            <a href="Pages/page_magasin/post15.html" class="rmore2">Read</a>
                        </div>
                    </div>
                    <hr class="l4">
                    <div class="layout_3--item row  fadeIn animated" style="visibility: visible;">
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="badge text-uppercase badge-overlay badge-entertainment">Sağlamlıq</span>
                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_healthy/post5.html"><img src="public/images/healthy/5.jpg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="cat">Sağlamlıq</span>
                            <h4><a href="Pages/page_healthy/post5.html">Seyrək və tökülən saçlar,bunun sebebi.</a></h4>
                            <p>Saçların bərpası və dəri altında köklərin yenidən canlanması və sağlam qalmasını təmmin edir</p>
                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            <a href="Pages/page_healthy/post5.html" class="rmore2">Read</a>
                        </div>
                    </div>
                    <hr class="l4">
                    <div class="layout_3--item row  fadeIn animated" style="visibility: visible;">
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="badge text-uppercase badge-overlay badge-entertainment">Sağlamlıq</span>
                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_healthy/post9.html"><img src="public/images/healthy/9.jpeg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="cat">Sağlamlıq</span>
                            <h4><a href="Pages/page_healthy/post9.html">Hansı daha faydalıdır - qoyun yoxsa mal əti?</a></h4>
                            <p>Qoyun və mal əti tərkibində olan vitamin və minerallara görə, demək olar, eynidir. Mal ətində zülal daha çoxdur.</p>
                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            <a href="Pages/page_healthy/post5.html" class="rmore2">Read</a>
                        </div>
                    </div>
                    <hr class="l4">
                    <div class="layout_3--item row  fadeIn animated" style="visibility: visible;">
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="badge text-uppercase badge-overlay badge-entertainment">Sağlamlıq</span>
                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_healthy/post13.html"><img src="public/images/healthy/13.jpeg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="cat">Sağlamlıq</span>
                            <h4><a href="Pages/page_healthy/post13.html">Sodanın fantastik xüsusiyyətləri</a></h4>
                            <p>Hər bir mətbəxdə sodanı tapmaq olur. Adətən sodadan müxtəlif şirniyyatların bişirilməsi zamanı istifadə olunur</p>
                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            <a href="Pages/page_healthy/post13.html" class="rmore2">Read</a>
                        </div>
                    </div>
                    <hr class="l4">
                    <div class="layout_3--item row  fadeIn animated" style="visibility: visible;">
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="badge text-uppercase badge-overlay badge-entertainment">Şou</span>
                            <div class="thumb  fadeIn animated" style="visibility: visible;">
                                <a href="Pages/page_magasin/post24.html"><img src="public/images/magasin/24.jpg" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-6  fadeIn animated" style="visibility: visible;">
                            <span class="cat">Şou</span>
                            <h4><a href="Pages/page_magasin/post24.html">Mustafa Ceceli ikinci dəfə bu xanımla evləndi</a></h4>
                            <p>Müğənni sevgilisi Selin İmerlə evlənib.Cütlük ancaq yaxın dostlarının qatıldığı bir toy mərasimi təşkil ediblər.</p>
                            <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            <a href="Pages/page_magasin/post24.html" class="rmore2">Read</a>
                        </div>
                    </div>
                    <hr class="l4">