<!--====================LAYOUT-1======================-->
                        <div class="layout_1 margin-bottom-30">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="heading-1"><span>Əsas xəbərlər</span></h3>
                                    <div class="post-carousel-wrap">
                                        <div class="post-carousel">
                                            <!--=============SLIDER============-->
                                            <div id="owl-one" class="owl-carousel owl-theme">
                                                <div class="item">
                                                    <div class="layout_1--item">
                                                        <a href="/post">
                                                <span class="badge text-uppercase badge-overlay badge-world">İqtisadiyyat</span>
                                                <div class="overlay"></div>
                                                <img src="public/images/economy/02.jpeg" class="img-responsive" alt=""/>
                                                <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                                   <h6>Dolların məzənnəsi dəyişmədi</h6>
                                                   <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span></div>
                                                </div>
                                             </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="layout_1--item">
                                                        <a href="/post">
                                                <span class="badge text-uppercase badge-overlay badge-world">İdman</span>
                                                <div class="overlay"></div>
                                                <div class="texton">
                                                   <img src="public/images/sport/03.jpg" class="img-responsive" alt=""/>
                                                   <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                                      <h6>"Kopenhagen" - "Qarabağ" - Heyətlər açıqlandı</h6>
                                                      <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span></div>
                                                   </div>
                                                </div>
                                             </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="layout_1--item">
                                                        <a href="/post3">
                                                <span class="badge text-uppercase badge-overlay badge-world">Kriminal</span>
                                                <div class="overlay"></div>
                                                <div class="texton">
                                                   <img src="public/images/criminal/3.jpeg" class="img-responsive" alt=""/>
                                                   <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                                      <h6>Bakıda xadimə işlədiyi evdən oğurluq edib</h6>
                                                      <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span></div>
                                                   </div>
                                                </div>
                                             </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="layout_1--item">
                                                        <a href="Pages/page_magasin/post3.html">
                                                <span class="badge text-uppercase badge-overlay badge-world">şou</span>
                                                <div class="overlay"></div>
                                                <div class="texton">
                                                   <img src="images/magasin/03.jpg" class="img-responsive" alt=""/>
                                                   <div class="layout-detail padding-25  fadeIn animated" style="visibility: visible;">
                                                      <h6>Tanınmış aktyor xəstəxanalıq oldu</h6>
                                                      <div class="meta  fadeIn animated" style="visibility: visible;"><span class="author">by Alex R.</span><span class="date">Sep. 27, 2016</span></div>
                                                   </div>
                                                </div>
                                             </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--===========END SLIDER=========-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====================LAYOUT DOWN======================-->
                        <div class="layout_2 margin-bottom-20  fadeIn animated" style="visibility: visible;">
                            <div class="row  fadeIn animated" style="visibility: visible;">
                                <div class="col-md-3 col-sm-6  fadeIn animated" style="visibility: visible;">
                                    <div class="layout_2--item  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <a href="Pages/page_econmy/post13.html"><img src="images/economy/13.jpeg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">İqtisadiyyat</span>
                                        <h4><a href="Pages/page_econmy/post13.html">Bank of Baku-dan Təhsil Kampaniyası</a></h4>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6  fadeIn animated" style="visibility: visible;">
                                    <div class="layout_2--item  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <a href="Pages/page_sport/post10.html"><img src="images/sport/11.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">Idman</span>
                                        <h4><a href="Pages/page_sport/post10.html">İspaniya Superkubokunun qalibi bəlli oldu</a></h4>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6  fadeIn animated" style="visibility: visible;">
                                    <div class="layout_2--item  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <div class="icon-24 video2  fadeIn animated" style="visibility: visible;"></div>
                                            <a href="Pages/page_criminal/post10.html"><img src="images/criminal/10.jpeg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">Kriminal</span>
                                        <h4><a href="Pages/page_criminal/post10.html">Goranboy sakini dərmandan zəhərləndi</a></h4>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6  fadeIn animated" style="visibility: visible;">
                                    <div class="layout_2--item  fadeIn animated" style="visibility: visible;">
                                        <div class="thumb  fadeIn animated" style="visibility: visible;">
                                            <a href="Pages/page_magasin/post10.html"><img src="images/magasin/010.jpg" class="img-responsive" alt=""></a>
                                        </div>
                                        <span class="cat">Magasin</span>
                                        <h4><a href="Pages/page_magasin/post10.html">Timati bu sevgilisindən də ayrıldı?</a></h4>
                                        <div class="meta  fadeIn animated" style="visibility: visible;"><span class="date">Sep. 28, 2016</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====================LAYOUT-3======================-->