<!--====================FOOTER======================-->
        <footer class="bg-dark footer1 padding-top-60">
            <div class="container-fluid">
                <div class="row margin-bottom-30">
                    <div class="col-md-7 col-sm-4 margin-bottom-30 footer-info">
                        <a href="index.html"><img src="public/images/flogo.png" class="img-responsive" alt=""/></a>
                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor
                            sit amet Lorem ipsum dolor sit amet
                        </p>
                        <span><i class="fa fa-map-marker"></i> AF Buisness House, CodeAcademy</span>
                        <span><i class="fa fa-envelope"></i> <a href="mailto:pfiruze.p202@code.edu.az">pfiruza.p202@code.edu.az</a></span>
                        <span><i class="fa fa-phone"></i> +994 77 554 21 01</span>
                    </div>
                    <div class="col-md-5 col-sm-4 margin-bottom-30 footer-follow">
                        <h5>bİzİ İzləyİn</h5>
                        <div class="footer-newsletter">
                            <form action="http://ckthemes.com/html/watcher/php/subscribe.php" id="invite1" method="POST">
                                <i class="fa fa-envelope"></i>
                                <input type="email" placeholder="Emailiniz" class="e-mail" name="email" id="address1" data-validate="validate(required, email)">
                                <button type="submit">Abunə ol</button>
                            </form>
                            <div id="result1"></div>
                        </div>
                        <div class="footer-social margin-top-30">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <!-- FOOTER COPYRIGHT -->
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>&copy; Copyright 2017 Watcher.com. Bütün hüquqlar qorunur.</p>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <ul class="footer-links">
                                <li><a href="Contact.html">Əlaqə</a></li>
                                <li><a href="terms.html">İstifadəçi Qaydaları</a></li>
                                <li><a href="privacy.html">Gizlilik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>