<!--====================VIDEO CAROUSEL======================-->
        <h3 class="heading-1"><span>Videolar</span></h3>
        <div class=" margin-top-30   fadeIn animated margin-bottom-60">
            <div class="margin-top-30 video-carousel-wrap bg-dark">
                <div class="container">
                    <div class="clearfix"></div>
                    <div class="col-md-8 col-sm-7 no-padding">
                        <div class="video-container">
                            <video id="video" width="400" onclick="togglePause()" controls>
                                <source src="video/01.mp4" type="video/mp4">
                            </video>
                            <div class="layout_1--item vc-item1 active">
                                <div class="video-play"></div>
                                <span class="badge text-uppercase badge-overlay badge-tech">Lorem</span>
                                <div class="overlay"></div>
                                <img src="public/images/videos/1.png" class="img-responsive" alt="" />
                                <div class="layout-detail padding-25">
                                    <h4>Avtobusda sernişin sürücü ilə dava etdi</h4>
                                    <div class="meta"><span class="author">by Firuze R.</span><span class="date">Sep. 27, 2016</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layout_1--item vc-item2">
                                <div class="video-play"></div>
                                <span class="badge text-uppercase badge-overlay badge-tech">Lorem</span>
                                <div class="overlay"></div>
                                <img src="public/images/videos/02.jpg" class="img-responsive" alt="" />
                                <div class="layout-detail padding-25">
                                    <h4>Ünvanlı sosial yardım artılacaq</h4>
                                    <div class="meta"><span class="author">by Firuze R.</span><span class="date">Sep. 27, 2016</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layout_1--item vc-item3">
                                <div class="video-play"></div>
                                <span class="badge text-uppercase badge-overlay badge-tech">Tech</span>
                                <div class="overlay"></div>
                                <img src="public/images/videos/3.jpg" class="img-responsive" alt="" />
                                <div class="layout-detail padding-25">
                                    <h4>Yeni ana olan mugennni ƏRİ VƏ ÖVLADI İLƏ- Shou biznes</h4>
                                    <div class="meta"><span class="author">by Firuze R
                                 </span><span class="date">Sep. 27, 2016</span><span class="comments">3</span>
                                        <span class="views">284</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layout_1--item vc-item4">
                                <div class="video-play"></div>
                                <span class="badge text-uppercase badge-overlay badge-tech">Lorem</span>
                                <div class="overlay"></div>
                                <img src="public/images/videos/4.jpg" class="img-responsive" alt="" />
                                <div class="layout-detail padding-25">
                                    <h4>İrana gedənlər məcburi sığortalanacaqlar I Xezer Xeber
                                        </h4>
                                    <div class="meta"><span class="author">by Firuze R.</span><span class="date">Sep. 27, 2016</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layout_1--item vc-item4">
                                <div class="video-play"></div>
                                <span class="badge text-uppercase badge-overlay badge-tech">Lorem</span>
                                <div class="overlay"></div>
                                <img src="public/images/videos/4.jpg" class="img-responsive" alt="" />
                                <div class="layout-detail padding-25">
                                    <h4>İrana gedənlər məcburi sığortalanacaqlar I Xezer Xeber
                                        </h4>
                                    <div class="meta"><span class="author">by Firuze R.</span><span class="date">Sep. 27, 2016</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 no-padding">
                        <div class="now-playing">
                            <i class="fa fa-play"></i>
                            <p>Ən son baxılanlar</p>
                        </div>
                        <div class="video-list">
                            <ul>
                                <li class="vl-video1">
                                    <div class="thumb">
                                        <div class="overlay-alt"></div>
                                        <div class="video-play-32"></div>
                                        <img src="public/images/videos/1.png" class="img-responsive" alt="" />
                                    </div>
                                    <p>Avtobusda sernişin sürücü ilə dava etdi</p>
                                </li>
                                <li class="vl-video2">
                                    <div class="thumb">
                                        <div class="overlay-alt"></div>
                                        <div class="video-play-32"></div>
                                        <img src="public/images/videos/02.jpg" class="img-responsive" alt="" />
                                    </div>
                                    <p>Ünvanlı sosial yardım artılacaq</p>
                                </li>
                                <li class="vl-video3">
                                    <div class="thumb">
                                        <div class="overlay-alt"></div>
                                        <div class="video-play-32"></div>
                                        <img src="public/images/videos/3.jpg" class="img-responsive" alt="" />
                                    </div>
                                    <p>Yeni ana olan müğənni əri və övladı ilə</p>
                                </li>
                                <li class="vl-video2">
                                    <div class="thumb">
                                        <div class="overlay-alt"></div>
                                        <div class="video-play-32"></div>
                                        <img src="public/images/videos/4.jpg" class="img-responsive" alt="" />
                                    </div>
                                    <p>İrana gedənlər məcburi sığortalanacaqlar I Xezer Xeber
                                            </p>
                                </li>
                                <li class="vl-video2">
                                    <div class="thumb">
                                        <div class="overlay-alt"></div>
                                        <div class="video-play-32"></div>
                                        <img src="public/images/videos/4.jpg" class="img-responsive" alt="" />
                                    </div>
                                    <p>İrana gedənlər məcburi sığortalanacaqlar I Xezer Xeber
                                            </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
