<% var root = 'http://localhost:3333/' %>
<!-- ========================== 404 Page =========================== -->
               <div id="content">
                  <div class="cont">
                     <div class="row">
                        <div class="content-inner">
                           <!-- Left sidebar -->
                           <div id="component" class="col-sm-12">
                              <main role="main">
                                 <div id="system-message-container">
                                 </div>
                                 <article class="page-item page-item__404">
                                    <div class="item_fulltext">
                                       <div class="row">
                                          <div class="col-sm-6">
                                             <div class="big-404">
                                                <img src="<%= root %>public/images/img_404.png" alt="">
                                             </div>
                                          </div>
                                          <div class="col-sm-6">
                                             <h2 class="heading-style-2 visible-first"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Sorry!Page</span>                                                            <span class="item_title_part_1 item_title_part_even item_title_part_first_half">Not</span>                                                            <span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">Found</span></h2>
                                             <big>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</big>
                                             <p>Please try using our search box below to look for information on
                                                the internet.
                                             </p>
                                             <div class="moduletable  ">
                                                <div class="module_container">
                                                   <div role="search" class="mod-search mod-search__">
                                                      <form action="/joomla_64017/index.php/404" method="post" class="navbar-form">
                                                         <label for="searchword-103" class="element-invisible">Search ...</label>
                                                         <input id="searchword-103" name="searchword" maxlength="200" class="inputbox mod-search_searchword" type="text" size="20"
                                                            placeholder="Search ..." required="">
                                                         <a href="#" class="button btn btn-primary">Search</a>
                                                         <input type="hidden" name="task" value="search">
                                                         <input type="hidden" name="option" value="com_search">
                                                         <input type="hidden" name="Itemid" value="204">
                                                      </form>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- Social Sharing -->
                                    <!-- Pagination -->
                                 </article>
                              </main>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>