<!-- ===============.=======CONTENT================ -->
        <div class="container margin-top-30">
            <div class="row">
                <!--======================PATH=========================-->
                <div id="breadcrumbs" class="stuck_position margin-bottom-30">
                    <div class="container">
                        <div class="row">
                            <div class="moduletable   col-sm-12">
                                <div class="module_container">
                                    <ul class="breadcrumb">
                                        <li><a href="../economy.html" class="pathway">Kriminal</a></li>
                                        <li class="active"><span>Mingəçevir </span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--======================RightSide=========================-->
                <div class="clearfix  fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
                <div class="col-md-8 col-sm-8  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <!--=================LAYOUT-POST===================-->
                    <div class="blog-excerpt  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <img src="public/view/images/criminal/1.jpeg" style="width: 100%;" class="img-responsive" alt="">

                        <div class="blog-single-head margin-top-25  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <h2>Mingəçevir şəhərində ehtiyatsızlıq nəticəsində dördüncü mərtəbədən yıxılan körpə sağ qalıb</h2>
                        </div>

                        <p class="margin-bottom-30">2015-ci il təvəllüdlü Yevlax rayon Havarlı kənd sakini Şərifov Murad Məhəmməd oğlu qonaq gəldikləri
                            beşmərtəbəli binanın 4-cü mərtəbəsindəki evin eyvanından yerə yıxılıb. Yaralı körpə dərhal həmin
                            binanın önündə yerləşən şəhər xəstəxanasına çatdırılıb. </p>
                        <p class="margin-bottom-30">İlkin müayinələr zamanı bir sıra sınıqlar aşkar olunub. Tibbi yardım alan iki yaşlı körpə Reanimasiya
                            şöbəsinə yerləşdirilib.</p>
                        <p class="margin-bottom-30"> Şahidlər Murad Şərifovun yerə pəncərə torunun üzərində düşdüyünü, bu səbəbdən də ölümcül xəsarət
                            almadığını bildiriblər</p>

                    </div>
                    <!--=================LAYOUT-Down===================-->
                    <h3 class="heading-1 margin-top-60"><span>Uyğun xəbərlər</span></h3>
                    <div class="row margin-bottom-30  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="col-md-4  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="layout_2--item  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <a href="post7.html"><img src="public/images/economy/07.jpeg" class="img-responsive" alt=""></a>
                                </div>
                                <h4><a href="post7.html" class="margin-top-30">KAPITAL BANK-IN YENILƏNƏN BEYLƏQAN FILIALI ISTIFADƏYƏ VERILDI</a></h4>
                                <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            </div>
                        </div>

                        <div class="col-md-4  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="layout_2--item  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <a href="post9.html"><img src="public/images/economy/09.jpeg" class="img-responsive" alt=""></a>
                                </div>
                                <h4><a href="post9.html">NEFTIN QIYMƏTINDƏN NƏ XƏBƏR?</a></h4>
                                <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;"><span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span></div>
                            </div>
                        </div>

                        <div class="col-md-4  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="layout_2--item  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <a href="post12.html"><img src="public/images/economy/12.jpeg" class="img-responsive" alt=""></a>
                                </div>
                                <h4><a href="post12.html">BP-də işləyən azərbaycanlıların sayı</a></h4>
                                <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <span class="author">by Rana F.</span><span class="date">Sep. 28, 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====================LAYOUT-COMMENT===============-->
                    <h3 class="heading-1 margin-top-30" style="margin-top:30px;"><span>Rəylər</span></h3>
                    <div class="comments-list margin-bottom-20  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="comment-content first  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <img src="../../images/comments/avatar.png" alt="">

                            <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.</p>
                        </div>

                        <div class="comment-content  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <img src="../../images/comments/avatar2.png" alt="">

                            <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.</p>

                            <div class="sub-comment  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <img src="../../images/comments/avatar.png" alt="">
                                <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    dolore eu fugiat nulla pariatur.</p>
                            </div>

                            <div class="sub-comment  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <img src="../../images/comments/avatar2.png" alt="">
                                <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>

                        <div class="comment-content last  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <img src="../../images/comments/avatar.png" alt="">

                            <h5><b>Robert Gourley</b> <span class="pull-right">Sep 27, 2015 at 12:17 pm</span></h5>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.</p>
                        </div>

                    </div>
                    <!--=======================Layout-CommentWrite=====================-->
                    <h3 class="heading-1 margin-top-30"><span>Rəy yaz</span></h3>
                    <form class="post-comment-form">
                        <label>Mesajınız</label>
                        <textarea></textarea>

                        <div class="row  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="col-md-6  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <label>Adınız</label>
                                <input type="text">
                            </div>

                            <div class="col-md-6  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <label>Mailiniz</label>
                                <input type="email">
                            </div>
                        </div>

                        <a href="#" class="btnCom">Göndər</a>
                    </form>
                </div>
                <!--=======================Layout-ASIDE=====================-->
                <aside class="col-md-4 col-sm-4">
                  <!--====================ADVERTSMENT======================-->
                  <%- include('pages/index/right/advertsment') -%>

                  <!--====================LAYOUT-ASIDE-SOCIAL======================-->
                  <%- include('pages/index/right/social') -%>

                </aside>

            </div>
        </div>